@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arimo:ital,wght@0,400..700;1,400..700&family=Bigelow+Rules&family=Bitcount+Grid+Double:wght@100..900&family=Cal+Sans&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Exile&family=Gruppo&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";

@theme {
    --font-bitcount: "Bitcount Grid Double", sans-serif;
    --font-gruppo: "Gruppo", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

html, 
body
{
    height: 100%;   
    margin: 0;
    padding: 0;
}